<h1>Lista de Pizzas</h1>

<br />
<table class="table">
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pizzas.each do |pizza| %>
  <tr>
    <td><%= pizza.nome %></td>
    <td><%= pizza.tipo %></td>
    <td><%= pizza.valor %></td>
    <td><%= link_to 'Show', pizza %></td>
    <td><%= link_to 'Edit', edit_pizza_path(pizza) %></td>
    <td><%= link_to 'Destroy', pizza, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pizza', new_pizza_path %>
